<div class="background">
  <div class="no">
  </div>

  <div class="new-name1">
    <h3 class="new-name2">空き部屋の登録内容を編集</h3>
  </div>

  <div class="contents-new">
    <%= form_with(model: @room, local: true) do |form| %>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>空き部屋画像</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.file_field :image %>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>都道府県</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :prefectures, class: 'reg5'%>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>郵便番号</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :postal_code, class: 'reg5'%>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>市区町村</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :city, class: 'reg5'%>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>地域/番地</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :town, class: 'reg5'%>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>建物名</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :building, class: 'reg5'%>
        </div>
      </div>
    </div>

    <div class="reg-new1">
      <div class="reg1">
        <div class="reg2">
          <span class="indispensable">必須</span>
        </div>
        <div class="reg3">
          <p>電話番号</p>
        </div>
      </div>

      <div class="reg-new2">
        <div class="reg4">
        <%= form.text_field :phone_number, class: 'reg5'%>
        </div>
      </div>
    </div>
      

    <h2 class="comment">その他条件等</h2>
    <div class="comment1">
      <div class="comment2">
        <%= form.text_area :comment, autocomplete: "off", class: 'comment-area', 
            placeholder: "例:"%>
      </div>
    </div>

      <div class="send-btn">
        <%= form.submit "編集する", class: 'send-btn1'%>
      </div>
    <% end %>    

  </div>
</div>