<!DOCTYPE html>
<html>
  <head>
    <title>Heyakasu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>

          <div id="nav-content">
            <ul class="list-contents">
              <li class="list">リスト1</li>
              <li class="list">リスト2</li>
              <li class="list">リスト3</li>
              <li class="list">リスト4</li>
              <li class="list">リスト5</li>
            </ul>

          </div>
        </div>
        <h1 class="title">HEYAKASU</h1>
        
      </header>
      
    <%= yield %>
    <footer>
      <p class="footer">Copyright HEYAKASU 2020.</p>
    </footer>
  </body>
</html>
